body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.pokemon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.morePokemonBtn{
    margin: 38px;
    border: none;
    padding: 12px 70px;
    background-image: linear-gradient(315deg, #76daff 0%, #cec828 65%);
    
}

.morePokemonBtn:hover{
    background-image: linear-gradient(315deg, #ff2100 20%, #cec828 73%);
}

.heading{
    text-align: center;
}

h1{
    color: white;
}